@font-face {
  font-family: 'Core Sans C';
  src: url('/fonts/CoreSansC/CoreSansC-55Medium.woff2') format('woff2'),
       url('/fonts/CoreSansC/CoreSansC-55Medium.woff') format('woff'),
       url('/fonts/CoreSansC/CoreSansC-55Medium.ttf') format('truetype');
}

.mantine-FileInput-placeholder {
  color: red !important; /* Force placeholder text to be red */
}
